*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pagination-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#paginated-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

footer{
    height: 50px;
}

.disabled{
    display: none;
}